/* Enter your Styles below! */


body { 
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	background-image: url('../images/straw.png');
	background-size: cover;
	
}

hr{
}

footer{
	text-align:center;
}	 

h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	margin-bottom: 20px;	
	font-weight: bold;
	font-size: 36px;
}

h2 {
	margin-bottom: 20px;	
	font-weight: bold;
	font-size: 36px;
}


blockquote {
	margin: 20px 60px;
	font-family: Helvetica, sans-serif;
}

header {margin-bottom: 20px;}

nav li {
	width: 100%;
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	list-style-type: none;
	flex:1;
}

.logo-mobile {
	display: inline-block;
	width:120px;
}

.flexy .logo { 
	flex: 1;
	margin-right: 40px;
	 }

.flexy li{
	list-style-type: none;
	flex:1;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}


.flexy{
	width: 90%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;

}



.logo-desktop {
	width: 120px;
	display: none;

}

.info li{
	list-style-type: none;
	display: inline-block;
	text-align: center;
	padding:20px;
	padding-left: 300px;
}



div ul.flavors{
	list-style: disc;
	line-height: 200%;
}

.flavors{
	line-height: 200%;
}

p {
	line-height: 150%;
}



/* ensures that your images stretch the width of their containers */
.grid-home img { 
	width: 100%; 
	border-radius: 50%;
}

.bar img{
	width:300%;
	padding-top: 40px;	
	padding-bottom: 40px;
}

a { 
	color: black;
	text-decoration: none;
	 }
a:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}

.grid-home {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 90%;
	margin: auto;
}

.grid-home div {
	background-color: none;
	padding: 20px;
}

.grid-bubbletea{
	display: grid;
	grid-template-columns:  1fr;
	grid-gap: 40px;
	width: 80%;
	margin: auto;
}



@media only screen and (min-width:768px){


}

@media only screen and (min-width:1024px){
.flexy .logo-desktop { 
	display: inline-block;
	flex: 1;
	margin-right: 40px;
	 }
.flexy li{
	flex:1;
}

.logo-mobile {display: none;}

.flexy{
	width: 60%;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

}



.logo {
	width: 120px;
}
	.grid-home{
			grid-template-columns: 1fr 1fr;
			width: 80%;
		}
	.grid-bubbletea{
			grid-template-columns: 1fr 1fr 1fr;
			width: 80%;

		}

}

@media only screen and (min-width:1200px){

}




/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/