/* Enter your Styles below! */


.row {
  position: relative;
  margin: 0 auto;
}

:before,
:after {
  position: absolute;
  content: '';
}

.beans {
  margin: 20px auto;
  width: 35px;
  height: 50px;
  background: #8B4C39;
  border-radius: 50%;
  animation: drop2 1s ease-in infinite;
}

.beans:before {
  left: 18px;
  width: 3px;
  border-radius: 50%;
  height: 98%;
  background: #5E2605;
  transform: rotate(-5deg);
}

.grinder {
  height: 120px;
  width: 200px;
  border-radius: 5px 5px 80px 80px;
  background: #1d1d1d;
}

.grinder:before {
  left: 40px;
  top: 110px;
  width: 120px;
  height: 15px;
  border-radius: 30px;
  background: #1d1d1d;
}

.grinder:after {
  z-index: 99;
  left: 40px;
  top: 125px;
  width: 120px;
  height: 15px;
  border-radius: 30px;
  background: #1d1d1d;
}

.grinder_bottom {
  margin: 15px auto 80px;
  height: 120px;
  width: 200px;
  border-radius: 80px 80px 5px 5px;
  background: rgba(255, 255, 255, 0.7);
  animation: rotate 10s ease-out infinite;
}

.grinder_bottom:before {
  bottom: -50px;
  width: 200px;
  height: 60px;
  border-radius: 0px 0px 50px 50px;
  background: #1d1d1d;
}

.grinder_bottom:after {
  top: 10px;
  left: 10px;
  width: 180px;
  height: 100px;
  border-radius: 85px 85px 0px 0px;
  background: rgba(0, 0, 0, 0);
  animation: fill 10s ease-in-out infinite;
}

@keyframes fill {
  0% {
    border-bottom: 0px solid #8B4C39;
  }
  50% {
    border-bottom: 80px solid #8B4C39;
  }
  60% {
    border-bottom: 80px solid #8B4C39;
  }
  90% {
    border-bottom: 0px solid #8B4C39;
  }
  100% {
    border-bottom: 0px solid #8B4C39;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  65% {
    transform: translate(0px, 120px) rotate(180deg);
  }
  90% {
    transform: translate(0px, 120px) rotate(180deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.v60 {
  z-index: 99;
  width: 250px;
  height: 170px;
  border-top: 140px solid white;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-radius: 5px;
}

.v60:before {
  top: -135px;
  right: -90px;
  width: 80px;
  height: 115px;
  border: 15px solid white;
  border-radius: 50%;
  transform: rotate(45deg);
}

.v60:after {
  position: absolute;
  z-index: 99;
  content: '';
  width: 220px;
  height: 15px;
  background: white;
  left: -45px;
  border-radius: 60px;
}

.drip {
  margin: 0 auto 10px;
  width: 20px;
  height: 20px;
  background: #8B4C39;
  border-radius: 0 50% 50% 50%;
  animation: drop 1s ease-in infinite;
}

@keyframes drop {
  0% {
    transform: translate(0px, -70px) rotate(45deg);
  }
  100% {
    transform: translate(0px, 130px) rotate(45deg);
  }
}

@keyframes drop2 {
  0% {
    transform: translate(0px, -70px);
  }
  100% {
    transform: translate(0px, 130px);
  }
}
.cup {
  margin: 40px auto;
  width: 190px;
  height: 150px;
  background: #B7C3D0;
  border-radius: 5px 5px 80px 80px;
}

.cup:after {
  top: 10px;
  right: -45px;
  width: 60px;
  height: 80px;
  border: 15px solid #B7C3D0;
  border-radius: 70px;
}




body {
	background: #00b4ff;
	color: #333;
	font: 100% Lato, Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}

.tea{
	width: 120%;
	padding-right:80px;
}

.bagel{
	width:110%;
}

.bahn{
	width: 90%;

}

body { 
	font-size: 16px;
	background-image: url('../images/back2.jpeg');
	background-size: cover;

	
}

hr{
	padding-top: 30px;
	border-top: 10px dotted pink;
}

footer{
		font-family: 'Kanit', sans-serif;
	padding-top: 40px;
	text-align:center;
}	 

h1, h2, h3, h4 {
	font-family: 'Kanit', sans-serif;

}

h1 {

	margin-bottom: 20px;	
	font-weight: bold;
	font-size: 36px;
}

h2 {
	padding-top: 50px;
	margin-bottom: 20px;	
	font-weight: bolder;
	font-size: 36px;
}


blockquote {
	margin: 20px 60px;
	font-family: Helvetica, sans-serif;
}

header {margin-bottom: 20px;}

nav li {
	width: 100%;
		font-family: 'Kanit', sans-serif;
	font-weight: bold;
	font-size: 24px;
	list-style-type: none;
	flex:1;
}

.logo-mobile {
	display: inline-block;
	width:120px;
}

.flexy .logo { 
	flex: 1;
	margin-right: 40px;
	 }

.flexy li{
	list-style-type: none;
	flex:1;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}


.flexy{
	width: 90%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;

}



.logo-desktop {
	width: 120px;
	display: none;

}

.info li{
	font-family: 'Kanit', sans-serif;
	list-style-type: none;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	padding:20px;
	padding-left: 250px;
	font-weight: bold;
}



div ul.flavors{
	list-style: disc;
	line-height: 200%;
}

.flavors{
	color: black;
	mix-blend-mode: difference;
	padding-left: 20px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Kanit', sans-serif;
	line-height: 200%;
}


p {
	color:black;
	line-height: 150%;
	font-family: 'Kanit', sans-serif;
	font-weight: bolder;

}

.button{
	padding:20px;
	font-size: 24px;


}

/* ensures that your images stretch the width of their containers */
.home { 
	width: 60%;
	  animation : effects 3s linear infinite;
 	 backface-visibility : hidden;
  		animation-delay : 2s;
}

.homie{
	padding-top: 40px;
}

.bar img{
	width:300%;
	padding-top: 40px;	
	padding-bottom: 40px;
}

a { 
	color: black;
	text-decoration: none;
	 }
a:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}

.grid-home {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 90%;
	margin: auto;
}

.grid-home div {
	background-color: none;
	padding: 20px;
}

.grid-bubbletea{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 80%;
	margin: auto;
}



@media only screen and (min-width:768px){

}

@media only screen and (min-width:1024px){
.flexy .logo-desktop { 
	display: inline-block;
	flex: 1;
	margin-right: 40px;
	 }
.flexy li{
	flex:1;
}

.logo-mobile {display: none;}

.flexy{
	width: 60%;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

}



.logo {
	width: 120px;
}
	.grid-home{
			grid-template-columns: 1fr 1fr;
			width: 80%;
		}
	.grid-bubbletea{
			grid-template-columns: 1fr 1fr 1fr;
			width: 80%;
			grid-gap:40px;

		}

}

@media only screen and (min-width:1200px){

}




/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/